.wcospa-order-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wcospa-sync-fetch-buttons .button {
    margin-left: 5px;
}

.pronto-order-number {
    font-weight: 600;
}

.pronto-order-number:empty:before {
    content: "Not synced";
    color: #999;
    font-style: italic;
}