.wcospa-order-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wcospa-sync-fetch-buttons {
    display: flex;
    align-items: flex-end;
}

.wcospa-sync-fetch-buttons .button {
    margin-left: 5px;
}

.pronto-order-number {
    font-weight: bold;
}